<footer>
    <ul>
      <a href="/contact">Contact</a>
      <a href="/cause-error">Trigger Error (test)</a>
    </ul>
  <p> <%= new Date().getFullYear() %> CSE 340  Ensign Motors  APP</p>
</footer>

