<nav>
  <button id="menu-toggle">☰</button>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/classification/custom">Custom</a></li>
    <li><a href="/classification/sedan">Sedan</a></li>
    <li><a href="/classification/suv">SUV</a></li>
    <li><a href="/classification/truck">Truck</a></li>
  </ul>
</nav>