<!doctype html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Inventory Management</h1>

  <% if (message && message.length) { %>
    <div class="flash"><%= message %></div>
  <% } %>

  <ul>
    <li><a href="/inv/add-classification">Add Classification</a></li>
    <li><a href="/inv/add-inventory">Add Inventory Item</a></li>
  </ul>
</body>
</html>



